<%= link_to 'Main Page', root_path %>
<%= link_to 'About me', home_about_path %>
<h1>About me</h1>
<p>My name is Astryda and this is first trial with craeting Ruby on Rails App and hosting on AWS Elastic Beanstalk with full CI/CD</p>