<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Astryda's training Rails Web App</h1>
        <p>Don't worry, new content will arive soon</p>
        <p>P.S. I do really like Cloud Run and this is really cool, to use containerized apps</p>
        <!-- <%= link_to 'About me', home_about_path, class: 'btn btn-primary btn-lg'%> -->
        <!-- <%= link_to 'Main Page', root_path, class: 'btn btn-secondary'%> -->
    </div>
</div>